*{
	margin-top:0;
}
body{
  padding: 0;
  margin:0;
  background: url(images/BackGround.jpg);
  background-size: 100% 100%;
}
#aboutHead{
	height: 70px;
}
.heading{
	background-color:  #e74c3c;
	color:white;
	margin: 0;
	padding: 5;
	font-family: algerian;
	position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
#Local{
	margin-top: 10px;
}
.HD{
	margin: 0;
}
.M{
	padding: 10;
}
.H{
	color: Cyan;
}
.p{
	font-family: times new roman;
	color: white;
	font-size: 1.3em;
	text-align: justify;
}
table td, th{
	border: 1px solid black;
	background-color:  #5dade2 ;
	font-size: 1.1em;
}
#BoonTable{
	border-collapse: collapse;
	width: 48%;
	float: left;
	font-size: 1.3em;
}
#intro{
	font-size: 1.3em;
}
td, th{
	width: 40%;
}
#img{
	width: 80%;
	padding: 5px;
}
#index{
	border: 1px solid black;
	padding: 10px;
	width: 25%;
	background-color: #aed6f1 ;
}
#index > h3{
	color: #e74c3c ;
}
#index a{
  text-decoration: none;
  color: blue;
}
#index a:hover{
  text-decoration: none;
  color:  #8e44ad;
}
#index a:active{
  text-decoration: none;
  color: #9a7d0a ;
}
#corona{
	float: right;
	height: 200px;
	width: 400px;
	margin-left: 15px;
}
#e{
	float: right;
	width: 360px;
	height: 180px;
	margin-right: 300px;
}
#ec{
	float:right;
	margin-right: 20px;
	margin-left: 10px;
}
#BaneTable{
	border-collapse: collapse;
	width: 48%;
	float: right;
	font-size: 1.3em;
}
#button{
	margin-top: 30px;
	width: 80%;
	font-size: 1.2em;
	color: blue;
}
#sol #button:hover{
	background-color: #b2babb ;
}
#sol #button:active{
	background-color: #424949 ;
}
.MAP{
	border:1px solid black;
	width: 1052.220px;
}
#map{
	background-color: black;
	opacity: 0.5;
}
#span{
	color: white;
	opacity: 1;
}
.cat{
	width: 90%;
	margin-bottom:10px;
	height: 50px;
	font-size: 1.2em;
	font-weight: bold;
}
#m{
	background-color: #e59866 ;
}
#g{
	background-color:  #85929e  ;
}
#v{
	background-color: #7dcea0 ;
}
#mb{
	background-color: #85c1e9 ;
}
#ds{
	background-color: #c39bd3 ;
}
#fd{
	background-color:  #d98880 ;
}
.op{
	font-size: 1.1em;
}
#locate{
	color:  #f1c40f ;
}
#logo{
	width: 150px;
	height: 150px;
	float: left;
	clear: right;
	margin-right: 10px;
	margin-left: 20px;
}
#nav{
	float: right;
	margin: 10px;
	font-size: 20px;
}
#nav a{
	text-decoration: none;
	color: white;
	font-size: 30px;
}
#conHref{
	margin-right: 10px;
}
.img_margin{
	margin-right: 5px;
	margin-left: 5px;
}
#img_marquee{
	background-color #20bf55;
	background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);

}
/* Simple responsive framework*/
.row{
	width: 100%
}
/*******************Medium devices************/
@media (min-width: 950px)and (max-width: 1199px){
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, 
	.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, 
	.col-md-11, .col-md-12 {
		float: left;
	}
	.col-md-1{
		width: 8.33%;
	}
	.col-md-2{
		width: 16.66%;
	}
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33%;
	}
	.col-md-5{
		width: 41.66%;
	}
	.col-md-6{
		width: 48%;
	}
	.col-md-7{
		width: 58.33%;
	}
	.col-md-8{
		width: 66.66%;
	}
	.col-md-9{
		width: 74.99%;
	}
	.col-md-10{
		width: 83.33%;
	}
	.col-md-11{
		width: 91.66%;
	}
	.col-md-12{
		width: 100%;
	}
}
/*******************Large devices************/
@media (min-width: 1200px){
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 
	.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, 
	.col-lg-11, .col-lg-12 {
		float: left;
	}
	.col-lg-1{
		width: 8.33%;
	}
	.col-lg-2{
		width: 16.66%;
	}
	.col-lg-3{
		width: 25%;
	}
	.col-lg-4{
		width: 33%;
	}
	.col-lg-5{
		width: 41.66%;
	}
	.col-lg-6{
		width: 48%;
	}
	.col-lg-7{
		width: 58.33%;
	}
	.col-lg-8{
		width: 66.66%;
	}
	.col-lg-9{
		width: 74.99%;
	}
	.col-lg-10{
		width: 83.33%;
	}
	.col-lg-11{
		width: 91.66%;
	}
	.col-lg-12{
		width: 100%;
	}
}